{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section class="container articles">
    {% for blog in blogs %}
        <article class="blog" data-id="{{ blog.id }}">
            <img class="ilustration" src="{% static '/images/' %}{% if blog.owner.profile.photo %}{{ blog.owner.profile.photo }}{% else %}{{ 'unknown.jpg' }}{% endif %}" alt="Foto del autor">
            <div class="info">
                <h1 class="title">{{ blog.name }}</h1>
                <p class="intro">{{ blog.description }} </p>
                <a href="./{{ blog.owner.username }}" class="sigue">{{blog.owner.first_name}} {{blog.owner.last_name}}</a>
            </div>
        </article>
    {% endfor %}
    </section>

{% endblock %}