{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <section class="container articles">
        <form method="post" novalidate class="login-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="header-form">
                {% trans "Crear Post" %} <span class="smallText">{% if request.user.firts_name or request.user.last_name %}{{request.user.first_name}} {{request.user.last_name}}{% else %} {{ request.user.username }} {% endif %}</span>
                <a class="header-button" href="/new-blog">{% trans "Crear Blog" %}</a>
            </div>
            <p class="infolist">{{ message }}</p>
            {{ form }}
            <div>
                <button>{% trans "Crear" %}</button>
            </div>
        </form>
    </section>
{% endblock %}