{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    <section class="container articles">
        <h1>{{blog.name}}</h1>
        <h3>{{blog.description}}</h3>
        <p>Author {% if blog.owner.first_name or blog.owner.last_name %} {{ blog.owner.first_name }} {{ blog.owner.last_name }} {% else %} {{ blog.owner.username }} {% endif %}</p>

{% if posts|length == 0 %}

        <h1 class="centeredText"><a href="/new-post">{% trans 'No hay posts' %}.</a></h1>

{% else %}


    {% for post in posts %}
        <article class="article" data-id="{{ post.id }}">
        {% if post.attachment and post.attachment_type == "I" %}
            <img class="ilustration" src="{{ post.attachment }}" alt="{% trans 'imagen del post' %}">
        {% elif post.attachment and post.attachment_type == "V" %}
            <video controls class="ilustration">
                <source src="{{ post.attachment }}" type="video/mp4" />
            </video>
        {% else %}
            <img class="ilustration empty" src="{% static '/images/transparent.png' %}" alt="{% trans 'post sin imagen '%}">
        {% endif %}
            <div class="info">
                <header>
                    <div class="author">
                        <img class="portrait" src="{% static '/images/' %}{% if post.blog.owner.profile.photo %}{{ post.blog.owner.profile.photo }}{% else %}{{ 'unknown.jpg' }}{% endif %}" alt="{% trans 'foto del autor ' %}r">
                        <p class="nombre">{{post.blog.owner.first_name}} {{post.blog.owner.last_name}}</p>
                        <p class="date"><time datetime='{{ post.date_pub | date:"Y-m-d" }}T{{ post.date_pub | date:"H:i:s" }}'></time></p>
                    </div>
                    <div class="socials">
                        <div class="likes"><button class="icon-btn favorite-btn"></button><span class="num-likes">12</span></div>
                        <div class="comments"><button class="icon-btn comments-btn"></button><span class="num-comments">34</span></div>
                    </div>
                </header>
                <h1 class="title">{{ post.title }} <span class="smallText">({{ post.blog.name }})</span></h1>
                <p class="intro">{{ post.abstract }}</p>
                <a href="/blogs/{{ blog.owner.username}}/{{ post.id }}" class="sigue">{% trans "Seguir leyendo" %}...</a>
            </div>
        </article>
    {% endfor %}
{% endif %}
    <section class="container articles">
{% endblock %}