    <nav class="web-navbar ">
        <div class="horizontal-container">
            <ul class="menu">
                <li class="menu-item navigate" data-href="./humanidades.html" id="humanidades">Humanidades</li>
                <li class="menu-item navigate" data-href="./personal.html" id="personalG">Desarrollo personal</li>
                <li class="menu-item navigate" data-href="./ciencia.html" id="ciencia">Ciencia</li>
                <li class="menu-item navigate" data-href="./tecnologia.html" id="tecnologia">Tecnología</li>
                <li class="menu-item navigate" data-href="./educacion.html" id="educacion">Educación</li>
                <li class="menu-item navigate" data-href="./ocio.html" id="ocio">Ocio</li>
            </ul>
        </div>
    </nav>
